<?xml version="1.0" encoding="utf-8"?>
<Content Key="1fb2229d-e461-4bc8-b32d-373993b70919" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>simplePage</ContentType>
    <CreateDate>2025-04-03T10:27:26</CreateDate>
    <NodeName Default="Home">
      <Name Culture="de-DE">Start</Name>
      <Name Culture="en-US">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="de-DE">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="fac18883-66b3-4232-9c8b-2042590bc902">SimplePage</Template>
  </Info>
  <Properties>
    <grid>
      <Value Culture="de-DE"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "fa4272d6-ecfc-4461-b875-0c2d11c997c9",
      "key": "935cd788-7594-49c0-a70b-697990264bd5",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "6f0db8d2-a5e3-4bd8-8efb-ef43d351ccd2",
              "mediaKey": "33583362-1acb-40f3-b9dd-a642c1b52b48",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "text",
          "culture": "de-DE",
          "editorAlias": null,
          "segment": null,
          "value": "DE in London"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "935cd788-7594-49c0-a70b-697990264bd5",
      "culture": "de-DE",
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "935cd788-7594-49c0-a70b-697990264bd5",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
      <Value Culture="en-US"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "fa4272d6-ecfc-4461-b875-0c2d11c997c9",
      "key": "37a265e0-f493-4a6e-bc0c-986cd41a585c",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": "de-DE",
          "editorAlias": null,
          "segment": null,
          "value": "DE Text"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "5023c683-40a2-4073-8f35-ea7d5de6fb13",
              "mediaKey": "f397e8d1-fee1-4012-b0cc-52ed1ee309db",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "text",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "EN Family"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "37a265e0-f493-4a6e-bc0c-986cd41a585c",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "37a265e0-f493-4a6e-bc0c-986cd41a585c",
      "culture": "de-DE",
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "37a265e0-f493-4a6e-bc0c-986cd41a585c",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </grid>
  </Properties>
</Content>