<?xml version="1.0" encoding="utf-8"?>
<Media Key="33583362-1acb-40f3-b9dd-a642c1b52b48" Alias="20171102_111029.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-03T10:26:48</CreateDate>
    <NodeName Default="20171102_111029.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3x2b3bnc/20171102_111029.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>