<?xml version="1.0" encoding="utf-8"?>
<Media Key="f397e8d1-fee1-4012-b0cc-52ed1ee309db" Alias="IMG-20210715-WA0000 (2).jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IMG20210715WA00002Jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-03T10:27:02</CreateDate>
    <NodeName Default="IMG-20210715-WA0000 (2).jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/lyrncrmi/img-20210715-wa0000-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>