@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<SimplePage>
@{
	Layout = null;
}
@await Html.GetBlockGridHtmlAsync(Model.Grid)
<div>
	<a href="/">EN</a> | <a href="/de">DE</a> || <a href="/umbraco" target="_bank">backoffice</a>
</div>