<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cfba74f8-38b0-4d5f-96b7-c9b0c58af015" Alias="Test Block Grid" Level="2">
  <Info>
    <Name>Test Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>Test</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "fa4272d6-ecfc-4461-b875-0c2d11c997c9",
      "allowAtRoot": true,
      "allowInAreas": true,
      "inlineEditing": true,
      "hideContentEditor": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>